@model EMY.HostManager.Entities.DomainInformation

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info">
    <h1 class="mt-4">
        @if (Model.DomainInformationID == 0)
        {
            @Html.Raw("Create")
            ViewData["Title"] = "Create Domain Information";
        }
        else
        {
            @Html.Raw("Edit")
            ViewData["Title"] = "Edit Domain Information";
        }
    </h1>

    <h4>Domain Information</h4>
    <hr />
</div>


<div class="alert alert-success">
    <form asp-action="Save">
        @Html.HiddenFor(o => o.DomainInformationID)
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="form-group">
                    <label asp-for="DomainName" class="control-label">Domain Name</label>
                    <input asp-for="DomainName" min="3" class="form-control" />
                    <span asp-validation-for="DomainName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="form-group">
                    <label asp-for="DomainAdress" class="control-label">Domain Adress</label>
                    <input asp-for="DomainAdress" min="3" class="form-control" />
                    <span asp-validation-for="DomainAdress" class="text-danger"></span>
                </div>
            </div>
            @if ((bool)ViewBag.Error)
            {
                <hr />
                <div class="alert alert-danger">
                    @Html.Raw(ViewBag.ErrorMessage)
                </div>

            }
            <div class="col-12">
                <div class="form-group">
                    @if (Model.DomainInformationID == 0)
                    {
                        <button type="submit" class="btn btn-primary"><i class="lni lni-circle-plus"></i> Create</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-success"><i class="lni lni-save"></i> Save Changes</button>
                    }
                </div>

            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index" class="btn btn-sm btn-secondary"><i class="lni lni-chevron-left-circle"></i> Back to List</a>
</div>

